<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#141414"/>
    <meta name="description" content="Laparpedia merupakan website untuk mencari rekomendasi restoran terbaik">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,400&display=swap" rel="stylesheet" crossorigin="anonymous"/>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Laparpedia</title>
  </head>
  <body>
    <div id="status"></div>
    <a href="#main" class="skip-to-content">Skip To Content</a>
    <header class="header">
      <div class="header-content">
        <a href="/" aria-label="Laperpedia" class="header-brand">
          <img src="logo.svg" alt="Laperpedia" class="header-logo"/>
        </a>
        <a href="#" class="nav-toggle" aria-label="navigation-menu">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <nav class="nav">
          <ul class="nav-list">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="#/favorite" class="nav-link">Favorite</a></li>
            <li>
              <a href="https://github.com/atrinasalsabilnengkoda" target="_blank" rel="noopener" class="nav-link">About Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="layer"></div>
    <div id="content"></div>
    
    <footer class="footer">
      <div class="container">
        <p class="footer-copyright">Copyright &COPY; 2021 - Laparpedia</p>
      </div>
    </footer>
  </body>
</html>
